body {
    padding: 0;
}

.card {
    border-radius: 3px;
    border: solid;
    border-width: 1px;
    height: 525px;
    width: 300px;
}

.cardImg {
    height: 300px;
    border-bottom: black;
    border-width: 2px;
    border-bottom-style: solid;
}

.container {
    margin-top: 100px;
    width: 80%;
}

.jumbotron {
    background-image: url("https://www.jetsetter.com/uploads/sites/7/2018/04/Yq6ObbTP-1380x690.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    color:white;
    font-size: 100px;
    font-weight: bold;
    font-family: fantasy;
    text-align: center;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.titleBackground {
    background: rgb(65, 65, 65);
    background: rgba(65, 65, 65, 0.5);
    height: 200px;
    margin: 100px auto;
    padding: 50px;
    border-radius: 5px;
}

.cardBackground {
    background: rgb(65, 65, 65);
    background: rgba(65, 65, 65, 0.5);
    border-radius: 5px;
    margin-bottom: 30px;
}

.loginCard {
    margin: 20px auto;
    text-align: center;
    border-radius: 5px;
}

.registerCard {
    margin: 20px auto;
    text-align: center;
    border-radius: 5px;
}

.cardBtn {
    margin-bottom: 20px;
}

.btn {
    margin: 5px;
}

.welcome {
    font-size: 18px;
    color: white;
}

.logo {
    width: 50%;
    height: 50%;
}

.logout {
    width: 100px;
    float: left;
    color: white;
    margin-left: 20px;
    border-radius: 2px;
}

@media only screen and (max-width: 600px) {
    .logo {
        width: 50%;
        height: 50%;
        float: right;
    }

  }