body {
    background-color: rgb(136, 197, 238);
    background-image: url("https://media.istockphoto.com/vectors/sky-and-clouds-background-sky-and-cloud-with-blue-color-cartoon-vector-id1084416182?k=6&m=1084416182&s=612x612&w=0&h=1n42_eBf348dNub41s2Y-daq7SLU-zBVutLJY_xcnJg=");
    background-repeat: no-repeat;
    padding: 0;
}

.card {
    border-radius: 3px;
    border: solid;
    border-width: 1px;
    height: 525px;
    width: 300px;
}

.cardImg {
    height: 300px;
    border-bottom: black;
    border-width: 2px;
    border-bottom-style: solid;
}

.container {
    margin-top: 100px;
    width: 80%;
}

.jumbotron {
    background-image: url("https://www.jetsetter.com/uploads/sites/7/2018/04/Yq6ObbTP-1380x690.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 500px;
}

.title {
    color:white;
    font-size: 65px;
    font-weight: bold;
    text-align: center;
}

.titleBackground {
    background: rgb(65, 65, 65);
    background: rgba(65, 65, 65, 0.5);
    height: 200px;
    margin: 100px auto;
    padding: 50px;
    border-radius: 5px;
}

.cardBackground {
    background: rgb(65, 65, 65);
    background: rgba(65, 65, 65, 0.5);
    border-radius: 5px;
}

.loginCard {
    margin: 20px auto;
    text-align: center;
    border-radius: 5px;
}

.registerCard {
    margin: 20px auto;
    text-align: center;
    border-radius: 5px;
}

.navBar {
    height: 60px;
    width: 100%;
    margin-top: 50px;
}

.cardBtn {
    margin-bottom: 20px;
}